@import 'base/**/*';

@import 'var';

@import 'views/**/*';

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing:antialiased;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

.link {
	cursor: pointer;
	text-decoration: underline;
	&:hover{
		color: #1F95D2;
	}
}
